PORT=5000
CLIENT_URL=http://localhost:5173
CLIENT_URLS=
SERVER_URL=http://localhost:5000
MONGO_URL=
JWT_SECRET=
GOOGLE_CLIENT_ID=
EMAIL_FROM=Veturo <your-veturo-gmail@gmail.com>
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
